@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --bg-color: #f7f7ff;
    --font-color: #1a1a1a;
    --primary-color: #495867;
    --medium-primary-color: #577399;
    --light-primary-color: #bdd5ea;
    --secondary-color: #fe5f55;

    --font-family: 'Open sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: var(--font-family);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 1rem 0;
    background: var(--primary-color);
    color: var(--bg-color);
    text-transform: uppercase;
}

main {
    min-height: 100%;
    margin: 0 auto -50px;
}

footer {
    height: 50px;
    background-color: var(--light-primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    letter-spacing: 1px;
    font-size: .9rem;
}

input {
    padding: 10px;
    font-size: .9rem;
    font-family: var(--font-family);
    margin: 5px 3px;
}

span {
    margin: 0 .5rem;
    font-size: 1.3rem!important;
}

h1 {
    margin-bottom: 2rem;
}

h2 {
    margin: .3rem 0;
}

section {
    width: calc(100% - 14rem);
    margin: 3rem 7rem;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
}

table {
    width: 100%;
}

table tbody tr {
    text-align: left;
    margin: .5rem 0;
}

table tbody tr td:first-child {
    width: 40%;
}





/* Újrafelhasználható osztályok */
.btn {
    border-radius: 10px;
    color: var(--bg-color);
    padding: 10px;
    font-size: .9rem;
    font-family: var(--font-family);
}

.btn:hover {
    background-color: transparent;
}

.btn-primary {
    background-color: var(--medium-primary-color);
    border: 1px solid var(--medium-primary-color);
}

.btn-primary:hover {
    color: var(--medium-primary-color);
}

.btn-secondary {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-secondary:hover {
    color: var(--primary-color);
}

.btn-light {
    background-color: var(--light-primary-color);
    border: 1px solid var(--light-primary-color);
    color: var(--font-color);
}

.btn-light:hover {
    color: var(--light-primary-color);
}

.btn-delete {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.btn-delete:hover {
    color: var(--secondary-color);
}

.error {
    box-shadow: 0px 0px 5px var(--secondary-color);
}

.error-text {
    font-size: .8rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.btn-forms {
    display: initial;
}





/* Login */
.login_system_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}





/* Home */
.modify-icons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: .5rem 0;
}





/* Upload, new file, send */
.functions-section {
    display: flex;
    justify-content: center;
}





/* 404 error */
.http-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.http-error h1 {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    padding: 10px;
    text-transform: uppercase;
}

.http-error h2 {
    font-weight: 300;
    font-size: 1.2rem;
}